
.Zones g path:hover{
    fill:darkorange;
    filter:brightness(2);
    filter: saturate(1.5);
    cursor: pointer;
}

.mapa{
    width: 85%;
    filter: drop-shadow(10px 12px 26px rgba(0,0,0,0.75));
}

.mapaNONE{
    display: none;

}

.BiomaNONE{
    display: none;
}

.Bioma{
    border-radius: 50px;
}

.box{
    border-radius: 20px;
}

.box .texto:hover{
    transform: scale(1.05);
}

